# Disignation Based On Skills

In [21]:
#importing libraries
import ast
import os
import pandas as pd
import numpy as np
os.chdir("D:\internship")

In [2]:
#reading data
d=pd.read_excel("skill_data.xlsx")
d.head()

               Name                                            Skills
0    Maurice Valdez  ['reactjs', 'django', 'numpy', 'nodejs', 'html']
1      Samuel Green                     ['laravel', 'css', 'laravel']
2   Michael Rodgers   ['css', 'reactjs', 'flask', 'nodejs', 'nodejs']
3     Lindsey Leach             ['nodejs', 'html', 'html', 'reactjs']
4  Kimberly Hartman                            ['matpotlib', 'nosql']

In [3]:
d1=d.copy()

In [4]:
web_devloper_skills = [
    'django',
    'html',
    'css',
    'nodejs',
    'reactjs',
    'nodejs',
    'flask',
    'laravel'
]

machine_learning_skills = [
    'nosql',
    'pandas',
    'numpy',
    'matpotlib',
    'seabron',
    'scipy'
]

In [5]:
type((d1.Skills[0]))

str

In [6]:
#changing string to list
for i in range (len(d1.Skills)):
    (d1.Skills[i]) = ast.literal_eval(d1.Skills[i])

In [7]:
type((d1.Skills[0]))

list

In [8]:
#removing duplicates of skills
for i in range (len(d1.Skills)):
    d1.Skills[i] = list(dict.fromkeys(d1.Skills[i]))

In [15]:
#to find disignation
c1=0
c2=0
li=[]
for i in range (len(d1.Skills)):
    for j in range (len(d1.Skills[i])):
        if((d1.Skills[i])[j] in web_devloper_skills):
            c1=c1+1
        if((d1.Skills[i])[j] in machine_learning_skills):
            c2=c2+1    
    
    if(c1>=3 or c2>=3):
        if(c1>c2):
            li.append("web developer")
        elif(c2>c1):
            li.append("machine learning developer")
        else:
            li.append("Both")
    else:
        li.append("Not eligible")
        
    c1=0
    c2=0

In [16]:
#to find total courses
li2=[]
for i in range (len(d1.Skills)):
    li2.append(len(d1.Skills[i]))

In [17]:
d1["Disignation"]=li

In [18]:
d1["Total skills"]=li2

In [19]:
d1.head(7)

,Name,Skills,Disignation,Total skills
0,Maurice Valdez,"[reactjs, django, numpy, nodejs, html]",web developer,5
1,Samuel Green,"[laravel, css]",Not eligible,2
2,Michael Rodgers,"[css, reactjs, flask, nodejs]",web developer,4
3,Lindsey Leach,"[nodejs, html, reactjs]",web developer,3
4,Kimberly Hartman,"[matpotlib, nosql]",Not eligible,2
5,Benjamin Garcia,"[numpy, scipy, matpotlib, nosql, nodejs]",machine learning developer,5
6,Ernest Brown,"[scipy, pandas, nodejs]",Not eligible,3

In [20]:
d1.to_excel(r'D:\csv files\skills_disignation.xlsx', index = False)